{
  "extends": [
    "wesbos"
  ],
  "rules": {
    "no-unused-vars": 0,
    "max-lines": [
      "warn",
      100
    ],
    "jsx-quotes": [
      "warn",
      "prefer-double"
    ],
    "default-case": 0,
    "prefer-destructuring": 0,
  }
}